.container-body{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.navbar{
    top: 0px;
    background-color:#FFF;
    position: fixed !important;
    z-index: 2; 
}
.logo
{
    margin-left: 50px;
}
.nav-bar-space>ul{
    margin-left: 400px;
}
.nav-bar-space>ul>li{
    /* margin-inline: 30px; */
    padding-inline: 10px;
    margin-right: 30px;
}
.navbar-list>li>a,.nav-item>li>a{
    color: var(--Gray-2, #4F4F4F);
    font-family: Satoshi,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 24.8px */
letter-spacing: 0.16px;
}
.button{
    color: var(--primaryskyblue, #2F80ED) !important;
    /* font-family: ABeeZee; */
    font-size: 14px;
    /* font-style: italic; */
    font-weight: 400;
    /* line-height: normal; */
    border-radius: 8px !important;
    padding: 4px 20px !important;
border: 2px solid var(--primaryskyblue, #2F80ED) !important;
}
header{
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    /* top:55px; */
    /* flex-1; */
    z-index: 1;
    width: 100%;
    color: #FFF;
font-family: ABeeZee;
font-size: 14px;
margin-top:45px;
padding-top: 8px;
/* padding-bottom:8px: ; */
padding: 8px 402px;
font-style: italic;
font-weight: 400;
line-height: 150%; 
/* letter-spacing: 0.28px; */
    align-items: center;
    background-color: #2F80ED;
   color: rgba(255, 255, 255, 1)
}
.hero{
   width: 100%;
   top: 55px;
   position:relative;
   padding-top: 56px;
}
.hero-section{
   width: 100%;
}
.course{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    background: #FFF;
}

.text>h1{
    font-family: ABeeZee;
font-size: 50px;
/* font-style: italic; */
font-weight: 400;
line-height: 65px;
letter-spacing: -0.015em;
text-align: left;
}
.text>p{
    font-family: ?????;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(89, 89, 89, 1);
}
.salary{
    margin-top: 40px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    /* flex-direction: row; */
    box-shadow: 0px 2px 40px 0px #0000001F;
    margin-bottom: 60px;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  
}
.icons>img{
    /* box-sizing: border-box;
    display: inline-block; */
    padding-left: 3px;
    
}
.icon-text>p{
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 10px;
}
.student-love{
    margin-top: 10px;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 1);

    border-radius: 10px;
 box-shadow: 0px 2px 40px 0px #0000001F;
    
}
.arrow{
    display: flex;
    align-items: end;
    justify-content: end;
   
}
.arrow>svg{
    margin-bottom: 0px;
}
.right-part{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 10px !important; */
    padding: 10px !important;
    width: 30%;
    /* background-color: #FAFAFA;    */
   
    border-radius:30px !important;
    /* border: 10px solid black; */
    border: none;
}
.right-name{
    box-shadow: 0px 0px 60px #dae8f1;
}
.right-part>h1{
    font-family: ABeeZee;
font-size: 32px;
font-style: italic;
font-weight: 400;
line-height: 48px;
text-align: center;
width: 90%;
/* width: 600px; */

}
.right-part>p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
width:%;
color:rgba(129, 141, 157, 1);
}
.cards-1,.cards-3{
    width: 90%;
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap:0px;
    margin-bottom: 5px;
    border: 1px dotted gray;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 1);

}
.cards-1:hover>p,.cards-3:hover>p{
    cursor: pointer;
}
.cards-1>img{
    width: 40px;
    height: 30px;
    /* padding-top: 6px;/ */
    /* display: inline-block;/ */
}
.cards-1>p{
   margin-left:10px ;
    display: flex;/
    align-items : center;
    justify-content: center;
    justify-content: start ;
    line-height: 25px;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 400;
   
    color: rgba(131, 147, 169, 1);

}
.vertical-line{
    height: 100%;
    width: 2px;
    color:darkgray;
    padding-bottom: 0px;
}
.cards-3>img{
    width: 40px;
    height: 30px;
}
.cards-3>p{
    margin-left:10px ;
    display: flex;/
    align-items : center;
    justify-content: center;
    justify-content: start ;
    line-height: 25px;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 400;
   
    color: rgba(43, 47, 52, 1);
}
.apply-button{
    background: linear-gradient(#992FED,#2F80ED);
    color: rgba(255, 255, 255, 1);
    font-family: ABeeZee;
    font-size: 18px;
    /* font-style: italic; */
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    width: 90%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    border: none;
    border-radius:10px ;
    padding-top: 10px ;
    padding-bottom: 10px;
    
}
.conditons-1>p{
    padding-top: 15px;
    width: 100% !important;
}
.conditons-1>span{
    padding-top: 0px;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.placements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px !important;
}
.placements-top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}
.placements-button{
    width: 18%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center !important;
    border-radius: 20px;
    font-family: ABeeZee;
font-size: 18px;
/* font-style: italic; */
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
background-color: #2F80ED;
color: #FFFFFF;
border: none;

}
.courses{
    margin-top: 0px;
    background-color: #ecf8ff;
    margin-bottom: 60px;
}
.main-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 230px;
}
.cards-2{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    overflow: visible;
}
.cards-2>img{
    width: 100px;
height: 30px;    

}
.image-1{
    top:26%;
    overflow: visible;
    position: absolute;
    left:1%;
    margin-left: 25%;
    padding-top:0% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-top,.cards-2>p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-hero{
    display: flex;
    align-items: colums;
    justify-content: space-around;
    padding-inline: 50px;
}
.main-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30px;
    /* gap: 20px; */
    height: 35px;
}
.main-buttons>button{
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  border: 2px solid #2F80ED ;
display: flex;
align-items: center;
}
.main-buttons>button>a{
    text-decoration: none;
    
    color: #FFFFFF;
}
.courses>h2,.courses>h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2F80ED;
text-align: center;
font-family: ABeeZee;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 54px */
letter-spacing: -0.54px;
padding-top: 20px;
}
.beginner,.intermediate{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.placement-reviews>h1,.placement-reviews>h6{
display: flex;
justify-content: center;
align-items: center;
}
.placement-reviews,.placements,.course,.placement-pics{
    width: 100%;
padding-inline: 5%;
}

@media screen (min-width:470px){
    .course{
        display:flex;
        flex-direction:row;
        /* width:90%; */
    }
    .about-course{
        display: flex;
        /* flex-direction: row; */
    }
    .hero-section{
        display: flex;
        flex-direction: column;
    }
    header{
        display: none;
    }
}
.right-part:hover{
    box-shadow: 0px 0px 60px plum;
}
.beginner:hover,.intermediate:hover{
    box-shadow: 0px 0px 60px pink;
}
.col:hover{
    box-shadow: 0px 0px 40px gray;
}